*{
	padding: 0px;
	margin: 0px;
}
.clr:before, .clr:after{
	content: " ";
	display: table;
}
.clr:after{
	clear:both;
}
img{
	display: block;
}
body{
	font-family: 'Lato', sans-serif;
}