<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <resource-ref>
    <description>SQL connection</description>
    <res-ref-name>jdbc/lfform</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.prkandel.filter.UserFilter</filter-class>
    <init-param>
      <param-name>loginActionURI</param-name>
      <param-value>/authenticate</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <display-name>ExceptionFilter</display-name>
    <filter-name>ExceptionFilter</filter-name>
    <filter-class>com.prkandel.filter.ExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExceptionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>

</web-app>
